/* General Styles */
* {
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

/* Navbar Styles */
.navbar {
    height: 60px;
    background-color: #0f1111;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.nav-logo {
    height: 50px;
    width: 100px;
}

.logo {
    background-image: url("amazon_logo.png");
    background-size: cover;
    height: 50px;
    width: 100%;
}

/* Border styles for navbar items */
.border {
    border: 1px solid transparent;
    padding-left: 2px;
    padding-right: 2px;
}

.border:hover {
    border: 1px solid white;
}

/* Address section in the navbar */
.nav-addres {
    height: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.addsecond {
    display: flex;
}

.addfirst {
    font-size: 0.85rem;
    color: #cccccc;
    margin-left: 15px;
}

.nav-country {
    margin-left: 3px;
    font-size: 1rem;
    font-weight: 700;
}

/* Search bar styles */
.nav-search {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 800px;
    height: 42px;
    border: 2px solid transparent;
}

.nav-search:hover {
    border: 2px solid orange;
    border-radius: 6px;
}

.search-select {
    font-size: 0.85rem;
    text-align: center;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    height: 40px;
    width: 50px;
    border: 2px solid transparent;
    background-color: #e6e6e6;
}

.search-input {
    width: 100%;
    font-size: 1rem;
    height: 40px;
    border: none;
}

.search-input:active {
    border: transparent;
}

.search-icon {
    height: 40px;
    width: 52px;
    border: none;
    background-color: #e18e19;
    font-size: 1.1rem;
    color: black;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}

.search-icon:active {
    background-color: #ffa600;
}

/* Language selection styles */
.nav-lang {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 83px;
    height: 51px;
}

.lang-icon {
    font-size: 1rem;
}

.lang-ops {
    border: none;
    width: 42px;
    font-weight: 700;
    font-size: 1rem;
    background-color: #0f1111;
    color: white;
}

/* Sign-in section styles */
.nav-signin span {
    color: #cccccc;
    font-size: 0.85rem;
}

.nav-signin p {
    font-size: 1rem;
    font-weight: 700;
}

.nav-signin {
    height: 51px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.signin-select {
    width: 144px;
    display: flex;
    justify-content: space-between;
}

.signin-ops {
    border: none;
    background-color: black;
    color: white;
    width: 10px;
}

/* Orders section styles */
.nav-orders {
    height: 51px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.nav-orders span {
    font-size: 0.85rem;
    color: #cccccc;
}

.nav-orders p {
    font-size: 1rem;
    font-weight: 700;
}

/* Cart section styles */
.nav-cart {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 51px;
}

.nav-cart i {
    font-size: 1.4rem;
}

/* Navigation panel styles */
.panel {
    height: 40px;
    background-color: #032837;
    display: flex;
    color: white;
    display: flex;
    align-items: center;
}

.panel-menu {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 8px;
    height: 40px;
}

.panel-menu i {
    margin-right: 3px;
}

.panel-ops {
    display: flex;
    justify-content: space-evenly;
    align-items: flex-end;
    width: 750px;
}

.ops-box {
    height: 40px;
    display: flex;
    align-items: center;
}

/* Hero section styles */
.hero-section {
    background-image: url("hero_image.jpg");
    background-size: cover;
    height: 400px;
    display: flex;
    justify-content: center;
}

.hero-bar {
    background-color: white;
    height: 45px;
    width: 90%;
    text-align: center;
    position: relative;
    top: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero-bar a {
    text-decoration: none;
    color: rgb(10, 129, 176);
}

/* Shop section styles */
.shop-section {
    background-color: rgb(211, 236, 246);
    height: 800px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-content: end;
}

.box {
    height: 400px;
    width: 23%;
    background-color: white;
    /* border: 1px solid black; */
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    background-color: #fff;
    margin-bottom: 1rem;
    transition: transform .5s ease;
}

.box:hover {
    transform: scale(1.05);
}

.shop-head {
    position: relative;
    left: 15px;
    top: 15px;
}

.shop-body {
    height: 350px;
    background-size: cover;
    margin-top: 30px;
    margin-bottom: 30px;
    margin-left: 15px;
    margin-right: 15px;
}

.shop-foot {
    position: relative;
    left: 15px;
    bottom: 15px;
    color: rgb(75, 170, 207);
    font-size: 0.85rem;
}

.shop-foot a {
    text-decoration: none;
}

/* Footer styles */
.foot-panel1 {
    height: 50px;
    background-color: #37475a;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.foot-panel1 a {
    text-decoration: none;
    color: white;
    font-size: 0.85rem;
    padding: 10px;
}

.foot-panel2 {
    height: 70px;
    background-color: #222f3d;
    height: 300px;
    display: flex;
    justify-content: space-evenly;
}

.foot-panel2 p {
    margin-left: 40px;
    font-size: 1rem;
    color: white;
    margin-top: 65px;
}

.foot-panel2 a {
    padding-top: 10px;
    display: block;
    color: white;
    font-size: 0.7rem;
    color: #dddddd;
    text-decoration: none;
}

.foot-panel2 ul {
    list-style-type: none;
}

.foot-panel3 {
    background-color: #222f3d;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 0.5px solid white;
}

.foot-logo {
    background-image: url("amazon_logo.png");
    background-size: cover;
    height: 50px;
    width: 120px;
}

.foot-panel4 {
    height: 100px;
    background-color: #0f1111;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 0.7rem;
}

.foot-links {
    display: flex;
    width: 700px;
    justify-content: space-between;
}

.foot-links a {
    text-decoration: none;
    color: #dddddd;
}

.foot-panel4 p {
    padding-top: 10px;
}
