*{
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}

body{
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: beige;
}

.container{
    counter-reset: x;
    width: 70%;
    height: 20%;
    /* border: 1px solid black; */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    /* position:absolute; */
}

.progress{
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}


.steps::before{
    content: counter(x);
    counter-increment: x;
    height: 2rem;
    width: 2rem;
    border: 2px solid black;
    display: block;
    text-align: center;
    line-height: 2rem;
    border-radius: 50%;
    background-color: #ababab;
    transition: background-color .7s ease-in;
}

.active::before{
    background-color:skyblue;
}

.steps::after{
    position:absolute;
    content: '';
    width:20rem;
    /* height: 1px; */
    border: 1px solid #ababab;
    margin-top: -1.05rem;
    margin-left: -0.5rem;
    z-index: -1;
    transition: 0.5s ease-in;
}

.active-line::after{
    border-top: 2px solid skyblue;
    border-bottom: 1px solid skyblue;
}

#step3::after{
    content: none;
}


.controls{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.buttons{
    height: 2rem;
    width: 4rem;
    border: 2px solid black;
    background-color: #ababab;
}
.active-buttons{
    background-color: skyblue;
    cursor:pointer;
}

