*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

body{
    background-image:linear-gradient(black,rgb(41, 38, 38),black);
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container{
    height: auto;
    width:300px;
    border: none;
    background-color: black;
    border: 4px solid black;
}

.head-box{
    border: 6px solid black;
}

.head-box input{
    border: none;
    outline: none;
    height: 5rem;
    width: 100%;
    font-size: 2rem;
    text-align: right;
    padding: 1rem;
    color: white;
    background-color: #252525;
}

.body-box{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.btn{
    font-size: 2rem;
    color: white;
    height: 65px;
    width: 65px;
    margin-left: 2px;
    margin-top: 2px;
    margin-bottom: 2px;
    background-color: #252525;
    border-radius: 50%;
    border: none;
    outline: none;
}
.btn:active{
    background-color:#363636;
}
#btn-equal{
    transform-origin: top;
    transform: scaleY(2.1);
    background-color: #ff8c00;
}
